<main>
<div class="feed">
  <% @posts.each do |post| %>
    <div class="post-card">
      <div class="post-header">
        <div class="post-user">
  <% if post.user.avatar.attached? %>
    <%= image_tag post.user.avatar,
      class: "avatar" %>
  <% end %>

  <strong>@<%= post.user.username %></strong>
</div>

      </div>
      
      <% if post.image.attached? %>
        <%= image_tag post.image, class: "post-image" %>
      <% end %>

<div class="like-section">
  <% if post.liked_by?(current_user) %>
    <%= button_to post_like_path(post, post.likes.find_by(user: current_user)),
      method: :delete,
      class: "like-btn liked" do %>
      ❤️
    <% end %>
  <% else %>
    <%= button_to post_likes_path(post),
      method: :post,
      class: "like-btn" do %>
      🤍
    <% end %>
  <% end %>

  <span class="like-count">
    <%= post.likes.count %> likes
  </span>
</div>


      <div class="post-body">
        <div class="post-user">
  <% if post.user.avatar.attached? %>
    <%= image_tag post.user.avatar,
      class: "avatar" %>
  <% end %>

  <strong>@<%= post.user.username %></strong> <%= post.caption %></p>
</div>

 
      </div>

<div class="comments">
  <% post.comments.each do |comment| %>
    <div class="comment">
      <p class="comment-text">
        <span class="comment-user">
          <%= comment.user.username %>
        </span>
        <%= comment.content %>
      </p>

      <% if comment.user == current_user %>
        <%= button_to "✖",
          post_comment_path(post, comment),
          method: :delete,
          class: "comment-delete",
          form: { class: "inline" } %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="comment-form">
  <%= form_with model: [post, Comment.new], local: true do |f| %>
    <%= f.text_field :content,
      placeholder: "Añade un comentario...",
      class: "comment-input" %>

    <%= f.submit "Publicar",
      class: "comment-submit" %>
  <% end %>
</div>



    </div>
  <% end %>
</div>
</main>