<%= form_with model: @post, local: true, html: { multipart: true }, class: "new-post-form" do |f| %>

  <div class="post-image-upload">
    <%= f.label :media, class: "image-label" do %>
      <span>📷 Seleccionar contenido</span>
    <% end %>

    <%= f.file_field :media,
          multiple: true,
          accept: "image/*,video/*",
          class: "image-input" %>
  </div>

  <div class="post-caption">
    <%= f.text_area :caption,
      placeholder: "Escribe una descripción...",
      rows: 3 %>
  </div>

  <%= f.submit "Publicar", class: "post-submit" %>

<% end %>



