<!DOCTYPE html>
<html>
  <head>
    <title>Instogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.png' %>

  </head>
  <% if user_signed_in? %>
  <body>
  <nav class="navbar">
  <div class="nav-left">
    <%= link_to "Instogram", root_path, class: "logo" %>
  </div>

  <div class="nav-right">
    

      <%= link_to "Nuevo", new_post_path, class: "nav-link" %>

     <button id="theme-toggle" class="theme-btn">🌙</button>


      <%= button_to "Salir",
          destroy_user_session_path,
          method: :delete,
          class: "nav-link logout",
          form: { class: "logout-form" } %>

      <%= link_to edit_user_registration_path, class: "profile-link" do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: "nav-avatar" %>
        <% else %>
          <div class="nav-avatar placeholder"></div>
        <% end %>

        <span class="nav-username">
          <%= current_user.username %>
        </span>
      <% end %>

    <% end %>
  </div>
</nav>


    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>

